name: CI

on:
  push:
    branches-ignore:
      - 'test-*'

jobs:
  build:
    name: Build
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Install Linux dependencies
      if: startsWith(matrix.os, 'ubuntu')
      run: sudo apt install libgl-dev libglu1-mesa-dev xvfb

    - name: Setup environment
      run: |
        echo "OS=$(uname -s | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
        echo "RUNHOME=$(echo $HOME)" >> $GITHUB_ENV

    - name: Install smlpkg
      uses: diku-dk/install-smlpkg@HEAD

    - name: Install MLKit
      uses: diku-dk/install-mlkit@HEAD

    - name: Compile
      shell: bash
      working-directory: ./ci
      run: make

    - name: Run CI tests (Linux)
      if: startsWith(matrix.os, 'ubuntu')
      shell: bash
      working-directory: ./ci
      run: LD_LIBRARY_PATH=.:$LD_LIBRARY_PATH xvfb-run ./ci

    - name: Run CI tests (macOS)
      if: startsWith(matrix.os, 'macos')
      shell: bash
      working-directory: ./ci
      run: ./ci 1

    - name: Compile SML projects
      shell: bash
      working-directory: ./sml-examples
      run: |
        make -C hello
        make -C flags
        make -C mandel
